allow mediaprovider bluetooth_prop:file read;
allow mediaprovider bootloader_boot_reason_prop:file read;
allow mediaprovider boottime_prop:file read;
allow mediaprovider cnd_vendor_prop:file read;
